{% include base_path %}
{% assign item = include.item %}
{% assign title = item.title %}

<article class="presentation-item" itemscope itemtype="http://schema.org/Event">
  {% if item.date %}
    <time class="presentation-date" datetime="{{ item.date | date_to_xmlschema }}">
      <span class="presentation-date__year">{{ item.date | date: "%Y" }}</span>
      <span class="presentation-date__month">{{ item.date | date: "%b" }}</span>
    </time>
  {% endif %}

  <div class="presentation-content">
    <h3 class="presentation-title" itemprop="name">
      {% if item.link %}
        <a href="{{ item.link }}">{{ title }}</a>
      {% elsif item.url %}
        <a href="{{ base_path }}{{ item.url }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>

    {% if item.presentation_title %}
      <p class="presentation-paper">{{ item.presentation_title }}</p>
    {% endif %}

    <p class="presentation-meta">
      {% if item.type %}<span>{{ item.type }}</span>{% endif %}
      {% if item.venue %}<span>{{ item.venue }}</span>{% endif %}
      {% if item.location %}<span>{{ item.location }}</span>{% endif %}
    </p>
  </div>
</article>
